Source: ros-jade-variant-topic-test
Section: misc
Priority: extra
Maintainer: Ralf Kaestner <ralf.kaestner@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-roscpp, ros-jade-std-msgs, ros-jade-variant-msgs, ros-jade-variant-topic-tools
Homepage: http://github.com/ethz-asl/ros-topic-variant
Standards-Version: 3.9.2

Package: ros-jade-variant-topic-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-geometry-msgs, ros-jade-roscpp, ros-jade-std-msgs, ros-jade-variant-msgs, ros-jade-variant-topic-tools
Description: Variant topic tools testing suites.
