Source: ros-jade-variant-topic-tools
Section: misc
Priority: extra
Maintainer: Ralf Kaestner <ralf.kaestner@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-roscpp, ros-jade-roslib, ros-jade-variant-msgs
Homepage: http://github.com/ethz-asl/ros-topic-variant
Standards-Version: 3.9.2

Package: ros-jade-variant-topic-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-roscpp, ros-jade-roslib, ros-jade-variant-msgs
Description: Topic tools for treating messages as variant types.
